footer {
    background-color: black;
}

.container-logo-informacoes {
    display: flex;
    color: white;
    padding: 100px 20px;
    justify-content: space-between;
}

.container-logo-informacoes img {
    width: auto;
    height: 100px;
}

.container-logo-informacoes div {
    width: 20%;
}

.container-logo-informacoes p {
    font-size: 16px;
}

.direito-autoral {
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.direito-autoral span {
    margin-left: 5px;
    padding: 6px 10px;
    border: 2px solid #fff;
    border-radius: 16px;
    color: #000000ce;
}

span a {
    text-decoration: none;
}

a {
    margin-left: 4px;
    color: #ffffff;
    font-weight: 900;
}

@media screen and (max-width: 768px) {
    .container-logo-informacoes {
        align-items: center;
        flex-direction: column;
        padding: 80px 0;
    }

    .container-logo-informacoes div {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}